<head>
<title>Créer un potin</title>
</head>
<body>
<h1>Bienvenue au potin n°<%= number %></h1>
<p>
  L'auteur de ce gossip est <%= gossips_specific.find(number).author %><br/>
  Le contenu <%= gossips_specific.find(number).content %> </>
  Ecrit ton pseudo ici <input type='text' name='comment_author'/><br/>
  Balance ton commentaire ici<input type='text' name='comment_content'/><br/>
  <input type='submit'/>

</p>
</body>
</html>
